<div class="container">
    <h4>Ingrese los datos del pago:</h4>
    <form (ngSubmit)="onSubmit(date.value, customer.value, description.value, amount.value, pending.value); 
        paymentForm.reset()" name="paymentForm" #paymentForm="ngForm">
        <!-- {{diagnostic}} -->
        <div class="form-group">
            <label for="date">Fecha</label>
            <input type="date" class="form-control" id="date" #date="ngModel"
                [(ngModel)]="model.date" name="date" (ngModelChange)="onChangeDate($event)"
                required>

                <!-- <input [ngModel]="pedido.fecha | date:'yyyy-MM-dd' : 'UTC'"  (ngModelChange)="pedido.fecha = $event" placeholder="fecha" #fecha  type="date"> -->
            <!-- alerta de error -->
            <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                Name is required
            </div> -->
                <!-- TODO: remove this: {{model.name}}  -->
        </div>
        <p>Date: {{model.date}}</p>
        <div class="form-group">
            <!-- <label for="customers">Cliente</label> -->
            <select class="custom-select custom-select-lg mb-3"
                [(ngModel)]="model.customer" (ngModelChange)="onChangeSelectOption($customer)"
                id="customer" #customer="ngModel" name="customer"
                required
            >
                <option [selected]="selectedCustomer" [value]="selectedCustomer" class="form-control">{{selectedCustomer.name}}</option>
                <option *ngFor="let customer of customers" [ngValue]="customer">{{customer.name}}</option>
            </select>
        </div>
        <!-- <p>Selected option: {{selectedCustomerName}}</p> -->
        <div class="form-group">
            <label for="description">Descripción</label>
            <input type="text" class="form-control" id="description" #description="ngModel"
                required
                [(ngModel)]="model.description" name="description">
            <!-- <div [hidden]="phone.valid || phone.pristine" class="alert alert-danger">
                Phone is required
            </div> -->
        </div>
        <div class="form-group">
            <label for="amount">Monto</label>
            <div class="input-group-prepend">
                <span class="input-group-text">$</span>
                <span class="input-group-text">0.00</span>
                <input type="number" class="form-control" id="amount" #amount="ngModel"
                required
                [(ngModel)]="model.amount" name="amount">
            <!-- <div [hidden]="phone.valid || phone.pristine" class="alert alert-danger">
                Phone is required
            </div> -->
            </div>
        </div> 
        <div class="form-group" style="float: left;">
            <label for="description">Pago pendiente?</label>
            <input type="checkbox" class="form-control" id="description" #pending="ngModel"
                [(ngModel)]="model.pending" name="pending">
            <!-- <div [hidden]="phone.valid || phone.pristine" class="alert alert-danger">
                Phone is required
            </div> -->
        </div>                   
        <div>
            <!-- (click)="newCustomer(); customerForm.reset()" -->
            <button type="submit" class="btn btn-primary btn-lg btn-block"
                [disabled]="!paymentForm.form.valid"
            >Agregar pago</button>  
        </div>
    </form>
</div>
